extends layoutdex

block content

	h1= title
	p
		a(href="/") Home
		|  | 
		a(href="/characters") Characters
		|  | 
		a(href="/stories") Stories
		|  | 
		a(href="/ocappadex") Dex

	table
		tr
			td
				h4 Search by keyword: 
			td
				h4 Search by author: 

		tr
			td
				input#keywordSearch(type="text" placeholder="ex: the pasta")
				button#btnKeySearch Go
			td
				input#authSearch(type="text")
				button#btnAuthSearch Go

		tr
			td
				h4 Search by character(s):
			td
				h4 Search by tag(s):

		tr
			td
				input#charSearch(type="text" placeholder="separate, by, commas")
				button#btnCharSearch Go
			td
				input#tagSearch(type="text" placeholder="separate, by, commas")
				button#btnTagSearch Go
	

	#displayHere

	#displayDetails

		//- table.variousInfo
		//- 	tr
		//- 		td
		//- 			h2 Character Info

		//- 	tr
		//- 		td
		//- 			#charInfo
						
		//- 				table
		//- 					tr
		//- 						td.titl
		//- 							strong Character Name: 
		//- 						td
		//- 							| <span id="charInfoName"></span>
		//- 					tr
		//- 						td.titl
		//- 							strong Formes: 
		//- 						td
		//- 							| <span id="charInfoFormes"></span>
		//- 					tr
		//- 						td.titl
		//- 							strong Abilities: 
		//- 						td
		//- 							| <span id="charInfoAb"></span>
		//- 					tr
		//- 						td.titl
		//- 							strong Description: 
		//- 						td
		//- 							| <span id="charInfoDesc"></span>
		//- 					tr
		//- 						td.titl
		//- 							strong Level:
		//- 						td
		//- 							| <span id="charLevel"></span>
		//- 					tr
		//- 						td.titl
		//- 							strong Author:
		//- 						td 
		//- 							| <span id="authorName"></span>
		//- 			#charInfo
						
		//- 				table
		//- 					tr
		//- 						td.titl
		//- 							strong Character Name: 
		//- 						td
		//- 							| <span id="charInfoName"></span>
		//- 					tr
		//- 						td.titl
		//- 							strong Formes: 
		//- 						td
		//- 							| <span id="charInfoFormes"></span>
		//- 					tr
		//- 						td.titl
		//- 							strong Abilities: 
		//- 						td
		//- 							| <span id="charInfoAb"></span>
		//- 					tr
		//- 						td.titl
		//- 							strong Description: 
		//- 						td
		//- 							| <span id="charInfoDesc"></span>
		//- 					tr
		//- 						td.titl
		//- 							strong Level:
		//- 						td
		//- 							| <span id="charLevel"></span>
		//- 					tr
		//- 						td.titl
		//- 							strong Author:
		//- 						td 
		//- 							| <span id="authorName"></span>