extends layoutdex

block content

	h1= title

	h4 Search by keyword(s): 
	input#keywordSearch(type="text")
	button#btnKeySearch Go
	br

	p#displayHere Results


	#displayDetails

		//- table.variousInfo
		//- 	tr
		//- 		td
		//- 			h2 Character Info

		//- 	tr
		//- 		td
		//- 			#charInfo
						
		//- 				table
		//- 					tr
		//- 						td.titl
		//- 							strong Character Name: 
		//- 						td
		//- 							| <span id="charInfoName"></span>
		//- 					tr
		//- 						td.titl
		//- 							strong Formes: 
		//- 						td
		//- 							| <span id="charInfoFormes"></span>
		//- 					tr
		//- 						td.titl
		//- 							strong Abilities: 
		//- 						td
		//- 							| <span id="charInfoAb"></span>
		//- 					tr
		//- 						td.titl
		//- 							strong Description: 
		//- 						td
		//- 							| <span id="charInfoDesc"></span>
		//- 					tr
		//- 						td.titl
		//- 							strong Level:
		//- 						td
		//- 							| <span id="charLevel"></span>
		//- 					tr
		//- 						td.titl
		//- 							strong Author:
		//- 						td 
		//- 							| <span id="authorName"></span>
		//- 			#charInfo
						
		//- 				table
		//- 					tr
		//- 						td.titl
		//- 							strong Character Name: 
		//- 						td
		//- 							| <span id="charInfoName"></span>
		//- 					tr
		//- 						td.titl
		//- 							strong Formes: 
		//- 						td
		//- 							| <span id="charInfoFormes"></span>
		//- 					tr
		//- 						td.titl
		//- 							strong Abilities: 
		//- 						td
		//- 							| <span id="charInfoAb"></span>
		//- 					tr
		//- 						td.titl
		//- 							strong Description: 
		//- 						td
		//- 							| <span id="charInfoDesc"></span>
		//- 					tr
		//- 						td.titl
		//- 							strong Level:
		//- 						td
		//- 							| <span id="charLevel"></span>
		//- 					tr
		//- 						td.titl
		//- 							strong Author:
		//- 						td 
		//- 							| <span id="authorName"></span>