extends layout

block content

	h1= title
	//-p Logged in as #{user.username}
	a(href="login") Login
	p Stories of the universe.


	#wrapper

		h2 Story List

		#storyList
			table
				thead
					th Title
					th Author
					th Delete?
				tbody
					



	h2 Add Story
	#addStory
		fieldset
			h4 Author: 
			p#storyAuthor #{user.username}
			h4 Story Title:
			input#inputStoryTitle(type="text" placeholder="Story title")
			h4 Characters: 
			textarea#inputStoryCharacters(placeholder="Characters" rows="10" cols="30")
			h4 Tags: 
			textarea#inputTags(placeholder="Tags" rows="10" cols="30")
			h4 Story: 
			textarea#inputStory(placeholder="Story" rows="10" cols="30")
			br
			if (user == "" || user == "guest")
				p Adding disabled for guests.
			else
				button#btnAddStory Add Story