extends layoutstor

block content

	h1= title

	p
		a(href="/") Home
		|  | 
		a(href="/characters") Characters
		|  | 
		a(href="/stories") Stories
	
	if (!user)
		a(href="/login") Login
		


		#wrapper

			h2 Story List

			#storyList
				table
					thead
						th Title
						th Author
						th Update
						th Delete?
					tbody

			table.variousInfo
				tr
					td.titl
						h2 Story Info

				tr
					td
						#storyInfo
							table
								tr
									td.titl
										strong Story Title:  
									td
										| <span id="storyTitle"></span>
								tr
									td.titl
										strong Characters: 
									td
										| <span id="storyChars"></span>
								tr
									td.titl
										strong Tags: 
									td
										| <span id="storyTags"></span>
								tr
									td.titl
										strong Story: 
									td
										| <span id="storyItself"></span>

		if (user == "" || user == "guest")
			p Adding disabled for guests.
		else
			button#btnAddStory Add Story
	else

		p logged in as #{user.username}
		a(href="/logout") Logout
		
		#wrapper

			h2 Story List

			#storyList
				table
					thead
						th Title
						th Author
						th Update
						th Delete?
					tbody

			table.variousInfo
				tr
					td.titl
						h2 Story Info

				tr
					td
						#storyInfo
							table
								tr
									td.titl
										strong Story Title:  
									td
										| <span id="storyTitle"></span>
								tr
									td.titl
										strong Characters: 
									td
										| <span id="storyChars"></span>
								tr
									td.titl
										strong Tags: 
									td
										| <span id="storyTags"></span>
								tr
									td.titl
										strong Story: 
									td
										| <span id="storyItself"></span>


		h2 Add Story
		#addStory
			fieldset
				h4 Author: 
				p#storyAuthor #{user.username}
				h4 Story Title:
				input#inputStoryTitle(type="text" placeholder="Story title")
				h4 Characters: 
				textarea#inputStoryCharacters(placeholder="Characters" rows="10" cols="30")
				h4 Tags: 
				textarea#inputTags(placeholder="Tags" rows="10" cols="30")
				h4 Story: 
				textarea#inputStory(placeholder="Story" rows="10" cols="30")
				br
				button#btnAddStory Add Story

		h2#updateStoryHere
		#updateStory
			fieldset
				p#updatingStoryID test
				h4 Editor: 
				p #{user.username}
				h4 Update Story Title: 
				input#updateStoryTitle(type="text")
				h4 Characters: 
				textarea#updateCharacters(rows="10" cols="30")
				h4 Tags: 
				textarea#updateTags(rows="10" cols="30")
				h4 Story: 
				textarea#updateStoryText(rows="10" cols="30")
				br
				button#btnUpdateStory Update Story